<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      internalLogLevel="Debug"
      internalLogFile="nlog-debug.txt">

    <extensions>
        <add assembly="NetLogDNA.NLog"/>
    </extensions>
    
    <targets>
        <target name="logdna1" xsi:type="LogDNA" AppName="Example" ApiKey="" layout="${longdate} ${callsite} ${level} ${message}" />
        <target name="stdout" xsi:type="Console" layout="${longdate} ${callsite} ${level} ${message}"/>
    </targets>
    
    <rules>
        <logger minlevel="Trace" maxlevel="Fatal" name="*" writeTo="logdna1" />
        <logger minlevel="Trace" maxlevel="Fatal" name="*" writeTo="stdout" />
    </rules>
</nlog> 